database_user: 
database_password: 

database_host: 
database_root_user: 
database_root_password: 

auth_key: ''
secure_auth_key: ''
logged_in_key: ''
nonce_key: ''
auth_salt: ''
secure_auth_salt: ''
logged_in_salt: ''
nonce_salt: ''

elb_address: 
